@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */ 
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

/* Style the entire scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

/* Style the track (the empty part of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  border-radius: 10px; /* Rounded corners for the track */
}

/* Style the handle (the part the user drags) */
::-webkit-scrollbar-thumb {
  background: #888; /* Darker grey color */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #f1f1f1; /* Slight border around the thumb */
}

/* Optional: Style the thumb on hover (when the user hovers over the scrollbar) */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}


body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 900px) {
  body {
    overflow: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auth1 > .group[data-filled-within="true"] .group-data-\[filled-within\=true\]\:text-foreground {
  font-size: 20px !important;
}

.card_gradiant {
  background: rgb(2,0,36);
background: linear-gradient(90deg, #4C49ED 0%, #0A06F4 100%);
}

.card_footer_gradiant {
  background: rgb(2,0,36);
background: linear-gradient(90deg, #ffff 0%, #ffff 100%);
}

nav>header {
  max-width: none !important;
}
