@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auth1 > .group[data-filled-within="true"] .group-data-\[filled-within\=true\]\:text-foreground {
  font-size: 20px !important;
}

.card_gradiant {
  background: rgb(2,0,36);
background: linear-gradient(90deg, #4C49ED 0%, #0A06F4 100%);
}

.card_footer_gradiant {
  background: rgb(2,0,36);
background: linear-gradient(90deg, #ffff 0%, #ffff 100%);
}
